.footer {
  text-align: center;
  transform: translateY(-1.25rem);

  @include breakpoint-up(medium) {
    transform: translateY(-2.75rem);
  }

  &__attribution {
    padding: 1.25rem 0;
    font-size: 0.815rem;
    color: var(--secondary-color);

    @include breakpoint-up(medium) {
      padding: 0;
      font-size: 0.875rem;
    }

    a {
      color: var(--secondary-color);
    }
  }
}
