@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all 300ms ease-in-out;
}

body {
  background: var(--bg);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 68.25rem;
}

main {
  transform: translateY(-2.5rem);

  @include breakpoint-up(medium) {
    transform: translateY(-6.5rem);
  }
}

// Flex
.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }
}

// Grid
.grid {
  display: grid;

  &-ai-c {
    align-items: center;
  }
}
