.header {
  padding: 2.1875rem 0;
  min-height: 14.375rem;
  border-radius: 0 0 1.25rem 1.25rem;
  background-color: var(--top-bg-pattern);

  @include breakpoint-up(medium) {
    padding: 2.0625rem 0;
  }

  .container {
    align-items: stretch;
    flex-direction: column;

    @include breakpoint-up(medium) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 1.5rem;

    @include breakpoint-up(medium) {
      margin-bottom: 0;
    }

    h1 {
      font-size: 1.5rem;
      color: var(--bold-text);

      @include breakpoint-up(medium) {
        font-size: 1.625rem;
      }
    }

    p {
      font-weight: bold;
      font-size: 0.9rem;
      margin-top: 0.25rem;
      color: var(--small-text);

      @include breakpoint-up(medium) {
        font-size: 0.8375rem;
      }
    }
  }

  hr {
    border: 0;
    height: 1px;
    border-top: 1px solid #848bab;
  }

  @at-root.dark hr {
    border-top: 1px solid #333a55;
  }

  &__theme {
    cursor: pointer;
    margin-top: 1rem;

    @include breakpoint-up(medium) {
      margin-top: 0;
    }

    p {
      font-weight: bold;
      margin-right: 1rem;
      font-size: 0.875rem;
      color: var(--small-text);
    }

    .toggle-btn {
      width: 3rem;
      height: 1.5rem;
      transition: unset;
      background: $light;
      border-radius: 0.75rem;
      justify-content: flex-end;

      &.on {
        background-image: $dark;
        justify-content: flex-start;

        .circle-btn {
          background-color: #252b42;
        }
      }

      &:hover {
        background-image: $dark;
      }
    }

    .circle-btn {
      width: 1.125rem;
      height: 1.125rem;
      margin: 0 0.25rem;
      transition: unset;
      border-radius: 50%;
      background-color: $white;
    }

    .dark &:hover {
      p {
        color: $white;
      }
    }
  }
}
