.overview {
  margin-top: 2.875rem;

  @include breakpoint-up(medium) {
    margin-top: 2.35rem;
  }

  h1 {
    font-size: 1.5rem;
    color: var(--secondary-color);

    @include breakpoint-up(medium) {
      font-size: 1.4375rem;
    }
  }

  &__cards {
    margin-top: 1.75rem;
    grid-template-columns: 1fr;
    gap: 1.375rem 1.875rem;

    @include breakpoint-up(medium) {
      margin-top: 1.375rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    cursor: pointer;
    border-radius: 0.3125rem;
    background: var(--card-bg);
    padding: 0.3125rem 2rem 1.125rem 1.5rem;

    &:hover {
      background: var(--hover-color);
    }

    @include breakpoint-up(medium) {
      padding: 0.3125rem 1.6875rem 1.125rem 1.5rem;
    }

    .activity {
      padding: 1.25rem 0 1.375rem;

      @include breakpoint-up(medium) {
        padding: 1.25rem 0;
      }

      p {
        font-weight: bold;
        font-size: 0.875rem;
        color: var(--secondary-color);

        @include breakpoint-up(medium) {
          font-size: 0.8325rem;
        }
      }

      img {
        width: 1.25rem;

        @include breakpoint-up(medium) {
          width: 1.125rem;
        }
      }
    }

    .stat {
      h2 {
        font-size: 2rem;
        color: var(--primary-color);

        @include breakpoint-up(medium) {
          font-size: 1.875rem;
        }
      }

      &-label {
        margin-top: 0.625rem;

        @include breakpoint-up(medium) {
          margin-top: 1rem;
        }

        p {
          color: $limeGreen;
          font-weight: bold;
          font-size: 0.75rem;
          margin-left: 0.1875rem;

          @include breakpoint-up(medium) {
            font-size: 0.6875rem;
            margin-left: 0.125rem;
          }
        }

        .red-text {
          color: $brightRed;
        }
      }
    }
  }
}
