// Colors
$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$youtube: hsl(348, 97%, 39%);
$instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));

// Toggle
$light: hsl(230, 22%, 74%);
$dark: linear-gradient(35deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
